.message {
  display: grid;
  grid-template-columns: 60px 1fr 20px;
  margin-bottom: 10px;
  width: auto;
  max-width: 70%;
  border-radius: 10px;

  .avatar {
    width: 45px;
    height: 45px;
    grid-row: span 2;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }

  .messageBody {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #b1b1b1;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;
  }

  .messageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .messageText {
    line-height: 1.3;
    overflow: hidden;
    padding: 10px 0;
    margin: 2px 0;
  }

  .messageExtra {
    display: flex;
    justify-content: space-between;
  }

  .likeWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .likeButton {
    color: transparent;
    text-shadow: 0px 0px 0px white;
    user-select: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 1px;
    margin-right: 3px;
  
    &:focus {
      outline: 0;
    }
  }

  .likeCount {
    margin-right: 15px;
  }

  .button {
    user-select: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 1px;
    margin-left: 5px;

    &:focus {
      outline: 0;
    }
  }

  .editButton {
    display: none;
  }

}

.userMessage {
  align-self: flex-end;
  grid-template-columns: auto;

  &:hover .editButton {
    display: block;
  }
}

.buttonsContainer {
  display: flex;
}